<div>
    <strong>Culture</strong>
    <span>@CultureInfo.CurrentCulture.TextInfo.CultureName</span>
    <br />
    <strong>UI Culture</strong>
    <span>@CultureInfo.CurrentUICulture.TextInfo.CultureName</span>
</div>