@model AssemblyName[]


<div>
    <label>Framework Version:</label>@Environment.Version
    <br />
    @foreach (var a in Model) {
        <span>@a.Name @a.Version (@a.CultureInfo?.DisplayName)</span>
        <br />
    }

</div>