@section Title {
    @sr["Payment Page"]
}



<h1>@sr["Payment Page"]</h1>
<section>
    <vc:noire-form></vc:noire-form>
</section>

<section>
    <form action="/payment/status" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
</section>

@*@section Scripts{

    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=44D862D9BA9191907C639C8055928310.uat01-vm-tx02"></script>

}*@