<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.TextInfo.CultureName">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="/js/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/js/webcomponentsjs/webcomponents-loader.js"></script>


    <script src="/js/app.js" type="text/javascript"></script>
</head>
<body>

    @RenderBody()


    <environment include="Development">
        <vc:user-agent-info></vc:user-agent-info>
        <vc:culture-switcher></vc:culture-switcher>
        <client-info></client-info>
        <mini-profiler />
    </environment>

</body>
</html>
