$fa-font-path: "/webfonts/fa";

@import "_Styles/_palette.scss";
@import "_Styles/_typography.scss";
@import "_Styles/_breakpoints.scss";
@import "_Styles/_nav.scss";
@import "_Styles/_layout.scss";
@import "_Styles/_forms.scss";

@import "_Styles/fa/fontawesome.scss";
@import "_Styles/fa/solid.scss";
@import "_Styles/fa/brands.scss";

@include font("Open-Sans", "/webfonts/os/OpenSans-Light");

body {
  font-family: Open-Sans;
  line-height: 1.5em;
  background-color: $white;
  background: url("https://media-eu.viva-images.com/vivastreet_uk/home/Homepage_Static3.jpg")
    no-repeat;
  background-attachment: fixed;
  background-size: 100% 20em;
  @include for-desktop-up {
    background-size: 100% 31em;
    background-position: unset;
  }

  > header {
    background-color: $primary;

    @include for-desktop-up {
      background-color: transparent;
      line-height: 5em;
    }
  }

  > main {
    input#menuToggle:not(:checked) ~ nav#topNav {
      opacity: 0.8;
    }

    > nav#topNav {
      @include for-desktop-up {
        margin-top: 22em;
        background-color: $grey;

        opacity: 0.8;

        a {
          color: $white;
        }
      }
    }
  }
}

label#searchLabel {
  display: none;
}

label#menuOpenLabel {
  border: none;
  background-color: transparent;
  color: transparent;
  &::before {
    color: $white;
    font-size: 1.5em;
    margin-left: 0.1em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: fa-content($fa-var-bars);
  }
}

label#menuCloseLabel {
  border: none;
  background-color: transparent;
  color: transparent;
  &::before {
    background-color: $primary;
    color: $white;
    font-size: 2em;
    padding-right: 0.1em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: fa-content($fa-var-times);
  }
}

// THIS HAS TO BE THE LAST ENTRY TO PREVENT FOUC
html {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}
