@import './_Styles/_palette.scss';
@import './_Styles/_typography.scss';
@import './_Styles/_breakpoints.scss';
@import './_Styles/_nav.scss';
@import './_Styles/_layout.scss';

/*@import './_Styles/_forms.scss';*/


html, body, * {
    padding: 0;
    margin: 0;
    font-family: $open-sans-400;    
    // border:1px dotted black;

}








