@model Exception

@section Title {
    @sr["Oops!!"]
}

<h1>Error!</h1>


<environment exclude="Production">

    @{
        var ex = Model;
        @do {
            <strong>@ex.Message</strong>
            <pre>
                    @ex.StackTrace
            </pre>
            ex = ex?.InnerException;
        } while (ex is object);
    }
</environment>