@section Title {
    @sr["Messaging Examples"]
}

<h1>@sr["Messaging Examples"]</h1>

<section>
    <vc:test-queue-form></vc:test-queue-form>
</section>
<section>
    <vc:example-message-list></vc:example-message-list>
</section>