@model IList<CultureInfo>

@if (Model is null || Model.Count == 0) { } else {
    @if (Model.Count == 1) {
        <label>@Model[0].TextInfo.CultureName</label>
    } else {
        <form method="get" action="/cl">
            <select name="uilang" asp-items=@Model.Select(c => new SelectListItem(c.TextInfo.CultureName, c.Name, c.Name.Equals(CultureInfo.CurrentUICulture.Name)))>
            </select>
            <button formmethod="get" formaction="/cl">Go</button>
        </form>
    }
}
