@section Title {
    @sr["Database Developer Guide"]
}


@*Im in the main tag now*@
<h1> @sr["Database Developer Guide"]</h1>

<a asp-area="Database" asp-route-subarea="Examples" asp-controller="Messaging" asp-action="Index" >Link</a>

<markdown>

    ## Overview

   


</markdown>