@section Title {
    @sr["Developer Guide"]
}


@*Im in the main tag now*@
<h1> @sr["Developer Guide"]</h1>

<markdown>



    This guide is intended as a definition of the patterns, practices, methodologies and strategies used in the design of this application.
    It will describe the overall architecture of a system designed to modernize the vivastreet application, and provide a viable strategy for 
    integrating the existing application, with a final aim of replacing the legacy codebase entirely. With that in mind, this documentation 
    will often refer back to the existing application as Kiwii. 



</markdown>