@model PayOnFormViewModel

<form action=@Model.FormAction method="POST" lang="en">

    <input type="hidden" name="shopperResultUrl" value=@Model.ReturnUrl>
    <input name="forceUtf8" type="hidden" value="&amp;#9760;">
    <input name="shopOrigin" type="hidden" value="http://127.0.0.1:5000">



    <section>
        <label>Card Provider</label>
        <select name="paymentBrand">
            <option value="MASTER">Mastercard</option>
            <option value="VISA">Visa</option>
        </select>
    </section>


    <section>
        <label>Expiry Date</label>
        <input autocomplete="off" type="tel" name="card.expiryMonth" placeholder="MM"> /
        <input autocomplete="off" type="tel" name="card.expiryYear" placeholder="YY">

    </section>

    <section>
        <label>Card holder</label>
        <input autocomplete="off" type="text" name="card.holder" placeholder="Card holder">
    </section>

    <section>
        <button type="submit">Pay now</button>
    </section>

</form>



<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=@Model.OppWaId" type="text/javascript"></script>


<section>
    <form action=@Model.ReturnUrl class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
</section>
