



button {
    font-size: 0.875em;
    line-height: 2.85em;
    padding-left: 1.425em;
    padding-right: 1.425em;
    padding-top:0;
    padding-bottom:0;
    font-weight:600;
    border-radius: 0.285em;
    border: 1px solid $black;
}
