nav#topNav {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: -1;
  background-color: white;
  a,
  label {
    display: none;
    visibility: hidden;
  }

  @include for-desktop-up {
    position: relative;
    opacity: 100;
    text-align: center;
    margin-top:20em;
    background-color: $grey;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    background-color: transparent;
    z-index: 1;
    
    a,
    label {
      display: inline-block;
      visibility: visible;
      padding: 2em;
    }
  }
}


input#menuToggle {
  position: absolute; // Hide the checkbox used to toggle the menu off screen
  top: -10px;
  height: 0;
  width: 0;
  visibility: hidden;
  // Show the menu when the checkbox is checked
  &:checked ~ label#menuCloseLabel {
    position: absolute;
    top: 0.3em;
    left: 0.1em;
  }

  &:checked ~ nav#topNav {
    overflow: auto;
    transition: opacity 0.15s ease-out;
    opacity: 1;
    z-index: 0;
    nav {
      z-index: 4;
    }

    a,
    label {
      display: inline-block;
      visibility: visible;
    }
  }

  &:not(:checked) ~ label#menuCloseLabel {
    display: none;
  }

  // Fade the menu when the checkbox is unchecked
  &:not(:checked) ~ nav#topNav {
    transition: opacity 0.15s ease-in;
    opacity: 0;

    @include for-desktop-up {
      opacity: 1;
    }
  }
}

@include for-desktop-up {
  label[for="menuToggle"] {
    display: none;
  }
}
