@model StringValues

<form method="get" asp-controller="Search" asp-action="Index">

    @foreach (var term in Model) {
        <input type="hidden" name="q" value=@term />
    }
    <div>
        <label id='searchLabel' for='searchBox'>Search</label>
        <search-box>
            <input type="search" name="q" id="searchBox" />
        </search-box>
        <button id='searchButton' type="submit" formmethod="get" asp-controller="Search" asp-action="Index">@sr["Search"]</button>
    </div>
</form>
