@{
    Layout = "~/_Layout.cshtml";
}

@section Title {
    @RenderSection("Title", true)
}

@section Header {
    @RenderSection("Header", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}

<h1>Extra Layout</h1>

@RenderBody()