@section Title {
    <title>@sr["The Home Page"]</title>
}

@section Header {
    <section>
        <h1>Hello</h1>
    </section>
}

<article>
    <header>Home Page</header>

    
    <footer>Some content footer</footer>
</article>