@section Title {
    <title>@sr["The GB Home Page"]</title>
}


@section Header {
    <section>
        <h1>Hello</h1>
    </section>
}


<section>

    <h2>GB Home Page</h2>
    <p>
        Back back back and forth BIG E SMALLS
    </p>

</section>
